{% extends "base.html" %}
{% block content %}

<body class="login-page">
<div class="login">
    <img src="/static/images_login/bg.jpg" alt="">
    <h2>Добро пожаловать</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <form method="POST" class="login-form">
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" placeholder="Введите логин" name="username" required>
        <label for="password">Пароль:</label>
        <input type="password" placeholder="Введите пароль" id="password" name="password" required>
        <button type="submit" class="common-btn button">Войти</button>
        <a href="{{ url_for('register') }}">Зарегистрироваться</a>
    </form>
</div>
</body>
{% endblock %} 