{% extends "base.html" %}
{% block content %}
<body class="register-page">
<div class="register">
    <h2>Регистрация</h2>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <form method="POST" class="auth-form">
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" name="username" placeholder="Введите логин" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Введите email" required>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" placeholder="Введите пароль" required>
            <ul>
                <p>Пароль должен содержать:</p>
                <li>Минимум 8 символов</li>
                <li>Хотя бы одну заглавную букву</li>
                <li>Хотя бы одну цифру</li>
            </ul>
        <button type="submit" class="common-btn button">Зарегистрироваться</button>
        <a href="{{ url_for('login') }}">Есть аккаунт</a>
    </form>
</div>
</body>
{% endblock %} 